* {
  box-sizing: border-box;
}

.friend-card {
  display: block;
  padding: 10px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  border-radius: 8px;
  align-items: center;
  border: 1px solid black;
  color: #212121;
}

.friend-card img {
  width: 100%;
  height: 100%;
}

.friend-card .friend-name {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.friend-card .status {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.friend-card .online {
  color: green;
}

.friend-card .offline {
  color: red;
}
